{{#if author}}
<section class="author">
    <img src="{{author.image}}" alt="{{author.name}}" class="author-photo" />

    <div class="author-info">
       <h4 class="author-name">{{author.name}}</h4>

       <p class="author-bio">{{author.bio}}</p>
   </div>
</section>
{{/if}}
