<header id="header" class="header-hover pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">

    <div class="top-nav-wrapper">
        <i id="toggle" class="fa fa-dot-circle-o fa-2x"></i>
        <nav class="top-nav">
            <ul> 
                <li><a href="/">Home</a></li>
                <li><a href="/#about"  class="scroll-to-about">About</a></li>
                {{!-- <li><a href="/contact/">Contact</a></li> --}}
                <li><a href="/#blog" class="scroll-to-blog">Blog</a></li>
            </ul>
        </nav>
    </div>

</header>
