<ul class="social-nav">
    <li><a href="#" class="twitter" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li><a href="#" class="facebook" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
    <li><a href="#" class="google-plus" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>
    <li><a href="#" class="pinterest" target="_blank"><i class="fa fa-pinterest fa-lg"></i></a></li>
    <li><a href="{{@blog.url}}/rss/" class="rss"><i class="fa fa-rss fa-lg"></i></a></li>
</ul>